
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 0 0% 98%;

    --card: 217 33% 17%;
    --card-foreground: 0 0% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 98%;

    --primary: 222 47% 11%;
    --primary-foreground: 210 40% 98%;

    --secondary: 222 47% 11%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 217 91.2% 59.8%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 222 47% 11%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 223 47% 11%;
    --sidebar-ring: 217 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-metrix-dark text-foreground;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-metrix text-transparent bg-clip-text;
  }

  .card-hover {
    @apply transition-all duration-300 hover:shadow-lg hover:shadow-metrix-blue/10;
  }
}
